<!DOCTYPE html>
<html>
<head>
  <title>Certification Register</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="container">

  </div>
</div>

<img src="http://mail.lanskey.com.au/Lanskey_Logo_1_150ppi_10cm.png"  width=30% class="img-responsive" alt="Responsive image" style="float:right;" /> 


<%= yield %>

</body>
</html>
